{% extends "base.html" %}

{% block conteudo %}

<body>
  <div id="section4" class="container-fluid">
    <h1 class="container text-center my-3 my-xl-5">Conheça todos os nossos cursos</h1>
   
    <div class="container row mx-auto">
            <div class="col-12 col-md-6 col-xxl-4 pb-4">
                <div class="card">
                  <img class="d-block d-md-none" src="../static/img/curso-ads.svg"
                    alt="foto curso ads">
                  <img class="d-none d-md-block d-xl-none" src="../static/img/curso-ads.svg"
                    alt="foto curso ads">
                  <img class="d-none d-xl-block" src="../static/img/curso-ads.svg"
                    alt="foto curso ads">
                  <div class="card-body">
                    <h5 class="card-title fw-bold">Tecnólogo</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa quas eos ducimus ipsam beatae debitis cumque sint nam assumenda facere?</p>
                    <p class="fw-bold">R$180,00</p>
                    <a href="#" class="btn btn-primary botao-lilas rounded-0 border-0">Inscreva-se</a>
                  </div>
                </div>
              </div>
              
        
        
        
            <div class="col-12 col-md-6 col-xxl-4 pb-4">
                <div class="card">
                  <img class="d-block d-md-none" src="../static/img/curso-bd.svg"
                    alt="foto curso bd">
                  <img class="d-none d-md-block d-xl-none" src="../static/img/curso-bd.svg"
                    alt="foto curso bd">
                  <img class="d-none d-xl-block" src="../static/img/curso-bd.svg"
                    alt="foto curso bd">
                  <div class="card-body">
                    <h5 class="card-title fw-bold">Tecnólogo</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa quas eos ducimus ipsam beatae debitis cumque sint nam assumenda facere?</p>
                    <p class="fw-bold">R$180,00</p>
                    <a href="#" class="btn btn-primary botao-lilas rounded-0 border-0">Inscreva-se</a>
                  </div>
                </div>
              </div>
        
            <div class="col-12 col-md-6 col-xxl-4 pb-4">
                <div class="card">
                  <img class="d-block d-md-none" src="../static/img/curso-dsm.svg"
                    alt="foto curso dsm">
                  <img class="d-none d-md-block d-xl-none" src="../static/img/curso-dsm.svg"
                    alt="foto curso dsm">
                  <img class="d-none d-xl-block" src="../static/img/curso-dsm.svg"
                    alt="foto curso dsm">
                  <div class="card-body">
                    <h5 class="card-title fw-bold">Tecnólogo</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa quas eos ducimus ipsam beatae debitis cumque sint nam assumenda facere?</p>
                    <p class="fw-bold">R$180,00</p>
                    <a href="#" class="btn btn-primary botao-lilas rounded-0 border-0">Inscreva-se</a>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-xxl-4 pb-4">
                <div class="card">
                  <img class="d-block d-md-none" src="../static/img/curso-jogos.svg"
                    alt="foto curso jogos">
                  <img class="d-none d-md-block d-xl-none" src="../static/img/curso-jogos.svg"
                    alt="foto curso jogos">
                  <img class="d-none d-xl-block" src="../static/img/curso-jogos.svg"
                    alt="foto curso jogos">
                  <div class="card-body">
                    <h5 class="card-title fw-bold">Tecnólogo</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa quas eos ducimus ipsam beatae debitis cumque sint nam assumenda facere?</p>
                    <p class="fw-bold">R$180,00</p>
                    <a href="#" class="btn btn-primary botao-lilas rounded-0 border-0">Inscreva-se</a>
                  </div>
                </div>
              </div>
        </div>
    </div>
</body>
{% endblock %}