{% extends "base.html" %}

{% block conteudo %}

<body>
  <h1 class="container text-center my-3 my-xl-5">Motivos para estudar</h1>
  <div id="section3" class="container-fluid ">
    
  <section class="container text-center my-3 my-xl-5">
    <section class="motivos">
        <img src="../static/img/motivos1.svg" alt="foto motivos">
        <img src="../static/img/motivos2.svg" alt="foto motivos">
        <img src="../static/img/motivos3.svg" alt="foto motivos">

    </section>
</section>
    <section>
<section class="container text-center my-3 my-xl-5">
<section class="objetivo">
    <h3>Objetivo</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque, quod voluptatem minus, ea ipsam nostrum quo illo tempora provident aliquam possimus amet similique ab architecto consequuntur reiciendis. Pariatur quas quos dicta sint expedita nihil ab aperiam architecto asperiores esse officiis vel odio numquam, tempore velit aspernatur fugit iusto quidem</p>
</section>
</section>
</section>
</div>
</body>
{% endblock conteudo %}
