{% extends "base.html" %}

{% block conteudo %}

<body>

  <h1 class="container text-center  my-3 my-xl-5">Nossas unidades</h1>
  <p class="container  my-3 my-xl-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet deleniti quas reiciendis deserunt suscipit dolorum rem quos, eum iusto. Est, ad dolorum eum quis atque officiis amet ducimus quos ipsam consectetur iusto molestiae iure deserunt porro eligendi, pariatur perspiciatis ipsum.</p>
  
  <div class="container unidades mx-auto">
    <div class="card">
        <div class="card-header card-cor ">
          Unidade São José dos campos
        </div>
        <div class="card-body">
          <h5 class="card-title">Campus Unes I</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolorum maxime corrupti soluta hic id itaque quisquam numquam beatae consequatur.
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-header card-cor">
          Unidade Jacareí
        </div>
        <div class="card-body">
          <h5 class="card-title">Campus Unes II</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolorum maxime corrupti soluta hic id itaque quisquam numquam beatae consequatur.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-header card-cor">
          Unidade Caçapava
        </div>
        <div class="card-body">
          <h5 class="card-title">Campus Unes III</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolorum maxime corrupti soluta hic id itaque quisquam numquam beatae consequatur.
          </p>
        </div>
      </div> 


  </div>

  
  
</body>

{% endblock %}